:root{
    --light-text:hsl(0, 0%, 100%);
    --blue-text:#4d677d;
    --mid-text:#343434ec;
    --text:#1b1b1b;
    --transparent: rgba(0, 0, 0, 0.75);
    --darker:#0d1013;
    --background:#ffffff;
    --med:#1a2128;
    --contrast:#3daee2;
    --mid-contrast:#56b8e6;
    --light-contrast:#5dcad8;
}

*{
    color: var(--text);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}

.no-scroll-body::-webkit-scrollbar { 
    display: none;
}

#headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 5000;

    padding: 0px 4px;

    width: 100%;
    height: 7vh;
}   

.headerButtonsContainer{
    display: flex;
}

.headerButtons{
    background-color: transparent;
    color: var(--mid-text);
    height: 6vh;
    width: 6.4vw;

    cursor: pointer;
    border: none;
    
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9vw;

    transition: font-weight 0.1s;
}

.headerButtons:hover{
    font-weight: 700;
}

.headerButtonsSpecial{
    color: var(--contrast);
    font-weight: 700;
    width: auto;
    font-size: 1.3vw;
    cursor: pointer;
    transition: font-weight 0.1s;
}

.headerButtonsSpecial:hover{
    font-weight: 800;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

#headingContainer{
    text-align: center;
}

.heading{
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    margin-bottom: 1vh;
}

#headingContainer>p{
    font-size: 0.8vw;
}

#launchButton{
    font-size: 17px;
    height: 8vh;
    width: 15vw;
    font-weight: 500;
    background: var(--contrast);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.4em;
    cursor: pointer;

    margin-top: 15px;
}

#launchButton:hover{
    background: var(--mid-contrast);
}

#launchButton:active{
    background: var(--light-contrast);
}


#description{
    color: var(--blue-text);
    margin-top: 20px;
}

#background-image{
    height:45vh;
    width: 30vw;
}

.text{
    color: var(--text);
}
